<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Experiment1" Language="1033" Version="1.0.0.0" Manufacturer="Hugues Valois" UpgradeCode="0b0eb7e2-7cdf-40f1-a36c-72b6a25abc5a">
    <Package InstallerVersion="200" Platform="x64" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Condition Message="Please install AutoCAD 2025 first."><![CDATA[Installed OR AUTOCAD2025DIR]]></Condition>

    <UIRef Id="WixUI_MinimalNoEula"/>

    <Property Id="AUTOCAD2025DIR">
      <RegistrySearch Id='AutoCadInstallDirRegistry' Win64='yes' Type='raw' Root='HKLM' Key='SOFTWARE\Autodesk\AutoCAD\R25.0\InstalledProducts' />
    </Property>

    <Feature Id="ProductFeature" Title="SetupProjectWix" Level="1">
      <ComponentGroupRef Id="DllComponents" />
      <ComponentGroupRef Id="MenuComponents" />
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="HuguesValois" Name="HuguesValois">
          <Directory Id="INSTALLFOLDER" Name="Experiment1">
            <Directory Id="ManualImagesDir" Name="Images" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="AUTOCAD2025DIR" Name="AutoCadDir">
        <Directory Id="MyLibraryDir" Name="MyLibrary" />
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="MyLibraryMenuDir" Name="Experiment1 Folder" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="Manual" Win64="yes" Directory="INSTALLFOLDER" Guid="356b2c1b-54c7-412e-914d-d9a17b63de17">
        <File Id="Manual" Name="Manual.html" Source="..\..\bin\docs\manual.html" KeyPath="yes" />
      </Component>
      <Component Id="ManualImages" Win64="yes" Directory="ManualImagesDir" Guid="963a26c2-2f91-40c3-a4da-276d039e0d21">
        <File Name="vs-logo.jpg" Source="..\..\docs\images\vs-logo.jpg"/>
      </Component>
      <Component Id="ChangeLog" Win64="yes" Directory="INSTALLFOLDER" Guid="1b77673f-bd61-4af6-b59e-0fba1461b6a5">
        <File Id="ChangeLog" Name="ChangeLog.txt" Source="..\..\docs\ChangeLog.txt" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="MenuComponents" Directory="MyLibraryMenuDir">
      <Component Id="ManualMenuItem" Guid="2cebc30a-4fc3-461d-9522-cdab43640754" Win64="yes">
        <Shortcut Id="ManualShortcut" Name="Experiment1 Manual" Target="[#Manual]" Description="Experiment1 Manual Description" />
        <Shortcut Id="ChangeLogShortcut" Name="Experiment1 ChangeLog" Target="[#ChangeLog]" Description="Experiment1 Change Log" />
        <RemoveFolder Id="MyLibraryMenuDir" On="uninstall"/>
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\[ProductVersion]' Type='string' Value='' KeyPath='yes' />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="DllComponents" Directory="MyLibraryDir">
      <Component Id="LibraryDll" Win64="yes" Guid="842af675-ec1a-4284-b4cc-50a9b35b8748">
        <File Id="LibraryDllFile" Name="$(var.MyLibrary.TargetName).dll" Source="$(var.MyLibrary.TargetDir)\MyLibrary.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <!-- Copy/Paste/Edit of WixUI_Minimal.wxs -->
    <!-- https://stackoverflow.com/questions/597025/how-to-build-a-minimal-wix-installer-ui-without-a-license-page -->
    <UI Id="WixUI_MinimalNoEula">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeDlg" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <!-- Customized to not show EULA -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <!--<InstallUISequence>
        <Show Dialog="WelcomeDlg" Before="WelcomeEulaDlg">Installed AND PATCH</Show>
        <Show Dialog="WelcomeEulaDlg" Before="ProgressDlg">NOT Installed</Show>
      </InstallUISequence>-->

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>

</Wix>
